In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('auto-mpg.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [5]:
df['horsepower']=pd.to_numeric(df['horsepower'], errors='coerce')

In [6]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [7]:
df['horsepower'] = df['horsepower'].fillna(df['horsepower'].median())

In [8]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [10]:
mean_encoded = df.groupby('car name')['mpg'].mean()
df['car_name_encoded'] = df['car name'].map(mean_encoded)

df[['car name', 'car_name_encoded']].head()

                    car name  car_name_encoded
0  chevrolet chevelle malibu              17.5
1          buick skylark 320              15.0
2         plymouth satellite              18.0
3              amc rebel sst              16.0
4                ford torino              17.0

In [11]:
df2=df.copy()

In [12]:
df2=df2.drop(columns=['car name'])

In [13]:
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car_name_encoded
0,18.0,8,307.0,130.0,3504,12.0,70,1,17.5
1,15.0,8,350.0,165.0,3693,11.5,70,1,15.0
2,18.0,8,318.0,150.0,3436,11.0,70,1,18.0
3,16.0,8,304.0,150.0,3433,12.0,70,1,16.0
4,17.0,8,302.0,140.0,3449,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,27.0
394,44.0,4,97.0,52.0,2130,24.6,82,2,44.0
395,32.0,4,135.0,84.0,2295,11.6,82,1,32.0
396,28.0,4,120.0,79.0,2625,18.6,82,1,28.0
397,31.0,4,119.0,82.0,2720,19.4,82,1,31.0

In [14]:
X=df2.drop(columns=['mpg'])

In [15]:
Y=df2['mpg']

In [16]:
X

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car_name_encoded
0,8,307.0,130.0,3504,12.0,70,1,17.5
1,8,350.0,165.0,3693,11.5,70,1,15.0
2,8,318.0,150.0,3436,11.0,70,1,18.0
3,8,304.0,150.0,3433,12.0,70,1,16.0
4,8,302.0,140.0,3449,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790,15.6,82,1,27.0
394,4,97.0,52.0,2130,24.6,82,2,44.0
395,4,135.0,84.0,2295,11.6,82,1,32.0
396,4,120.0,79.0,2625,18.6,82,1,28.0
397,4,119.0,82.0,2720,19.4,82,1,31.0

In [17]:
Y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y,test_size =0.2,random_state=42)

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [20]:
model=LinearRegression()

In [21]:
model.fit(X_train,y_train)

LinearRegression()

In [22]:
y_pred=model.predict(X_test)

In [23]:
y_pred

array([31.72232431, 28.42493968, 19.51799901, 13.39031594, 13.73182641,
       26.67222869, 24.58698277, 12.2439492 , 17.16258783, 19.96802642,
       14.47109988, 32.36371737, 25.68625667, 14.35438548, 22.01174351,
       11.10892499, 31.27217441, 17.75477432, 15.95661638, 31.67831039,
       21.78291169, 21.26555211, 22.94688345, 33.31075486, 17.17834161,
       43.40824992, 25.79326206, 24.52679186, 18.45056369, 11.36845925,
       27.43165604, 36.30095503, 22.90120782, 23.78482668, 37.15873422,
       15.33864493, 21.30083092, 17.98586622, 15.652906  , 28.69795701,
       27.2040174 , 26.7349275 , 17.82857612,  9.22789692, 22.73363833,
       36.1460876 , 25.98104827, 24.35266725, 24.36961298, 27.17325022,
       21.68989774, 34.24223814, 34.16644085, 12.4031281 , 27.4210116 ,
       13.24401283, 18.76263886, 29.80714398, 27.33998066, 19.09894782,
       11.28599132, 34.25290565, 22.8939662 , 20.505814  , 21.57134477,
       26.37920559, 23.899999  , 34.68345779, 24.75811225, 12.86007676,
       34.88344917, 14.29426908, 13.44023753, 17.85843343, 25.67243303,
       22.31184459, 17.71541581, 28.39778556, 29.33377751, 16.44020711])

In [24]:
y_test

198    33.0
396    28.0
33     19.0
208    13.0
93     14.0
       ...
249    19.9
225    17.5
367    28.0
175    29.0
285    17.0
Name: mpg, Length: 80, dtype: float64

In [25]:
y_test = pd.DataFrame(y_test, columns=['mpg'])
y_pred = pd.DataFrame(y_pred, columns=['Predicted MPG'])
y_test.index = range(len(y_test))
y_pred.index = range(len(y_pred))
pd.concat([y_test, y_pred], axis=1)

     mpg  Predicted MPG
0   33.0      31.722324
1   28.0      28.424940
2   19.0      19.517999
3   13.0      13.390316
4   14.0      13.731826
..   ...            ...
75  19.9      22.311845
76  17.5      17.715416
77  28.0      28.397786
78  29.0      29.333778
79  17.0      16.440207

[80 rows x 2 columns]

In [26]:
model.score(X,Y)

0.9691433870348888

In [27]:
model.score(X_train,y_train)

0.9672555647056839

In [28]:
r2_score(y_test, y_pred)

0.9777943580600063

In [29]:
from sklearn.linear_model import Ridge

In [30]:
ridge_reg = Ridge(alpha=0.2)
ridge_reg.fit(X_train, y_train)
y_pred_ridge = ridge_reg.predict(X_test)

In [31]:
ridge_reg.score(X_train,y_train)

0.9672555636107039

In [32]:
ridge_reg.score(X,Y)

0.9691437648394227

In [33]:
from sklearn.linear_model import Lasso

In [34]:
lasso = Lasso(alpha=1)
lasso.fit(X_train, y_train)
y_pred_lasso = lasso.predict(X_test)

In [35]:
lasso.score(X_train,y_train)

0.9655965993236701

In [36]:
r2_score(y_pred_lasso,y_test)

0.9789807923941423